@keyframes clouds {
    0% {
        background-position: 0 0;
        opacity: 0;
    }
    10% {
        opacity: .10;
    }
    50% {
        background-position: -500px 0;
        opacity: .25;
    }
    95% {
        opacity: .10;
    }
    100% {
        background-position: -1000px 0;
        opacity: 0;
    }
}

.clouds {
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
	  z-index: 0;
    display: block;
}
.clouds-1, .clouds-2, .clouds-3 {
    height: 100%;
    background-repeat: repeat-x;
  	background-size: 120vh;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    opacity: .25;
}
.clouds-1 {
    background-image: url('clouds_1.png');
    animation: clouds 60s infinite linear;
}
.clouds-2 {
    background-image: url('clouds_2.png');
    animation: clouds 45s infinite linear;
}
.clouds-3 {
    background-image: url('clouds_3.png');
    animation: clouds 120s infinite linear;
}
@media screen and (max-width: 496px) {
	.clouds-1, .clouds-2, .clouds-3 {
		background-size: 150%;
	}
}
