@import "./clouds.css";
@font-face {
    font-family: 'Bender';
    src: local('Bender'), url('../font/bender.woff2') format('woff2'), url('../font/bender.woff') format('woff'), url('../font/bender.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Bender, sans-serif;
    text-align: center;
}

@keyframes onload {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html,
body {
    height: 100%;
    background-color: #0001017;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

body {
    box-shadow: inset 0 0 100px rgba(32, 39, 41, 1);
}

a,
a:focus,
a:hover {
    color: white;
}

body,
nav > div {
    background-color: #333;
    color: white;
}

* {
    text-align: center;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

h1 {
    font-size: 15em;
}

h3 {
    margin: 0 !important;
    padding-bottom: 0.75em;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.cover-container,
.main_header,
.main_footer {
    max-width: 700px;
}


/* Padding for spacing */

.inner {
    padding: 30px;
}

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/* * * * * * * * * * * * * * * * * * * * * * * *
 * Full-page background image (random picture)
 * https://codepen.io/chris22smith/pen/jRGPrN
 */

.background {
    background-color: transparent;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    filter: contrast(.6) brightness(.6);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: -17;
    animation: 1s ease-in-out 0s 1 onload;
    -webkit-transition: 1s;
    transition: 1s;
    display: flex;
}


/* Header */

.main_header {
    padding-top: 17px;
}

.main_header-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.main_header-nav > li {
    display: inline-block;
}

.main_header-nav > li + li {
    margin-left: 20px;
}

.main_header-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

.main_header-nav > li > a:hover,
.main_header-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, .25);
    border-bottom-width: 100%;
    transition: all 0.5s ease-in-out;
}

.main_header-nav > .active > a,
.main_header-nav > .active > a:hover,
.main_header-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}


/* footer */

.main_footer {
    color: rgba(255, 255, 255, .5);
    padding: 17px;
    position: absolute;
    bottom: 128px;
    z-index: 999;
}

body > div.site-wrapper > div > div > div.main_footer > div > a:hover {
    text-decoration: none;
}

.schedule_sat,
.schedule_oth {
    font-size: 14px;
}

.schedule_sat {
    display: none;
}

.schedule_oth {
    display: none;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal-header {
    background-color: #444;
    border-bottom-color: #2d2d2d;
}

.modal-body {
    background-color: #2d2d2d;
}

.modal-footer {
    border-top-color: #2d2d2d;
    background-color: #444;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

#about_screen > div > div > div.modal-header > button > span {
    color: #ffffff;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .navbar-brand {
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
    }
    .navbar-toggle {
        z-index: 3;
    }
}

@media (min-width: 768px) {
    .main_header-brand {
        float: left;
    }
    .main_header-nav {
        float: right;
    }
}

body > div.site-wrapper > div.site-wrapper-inner > div > div.main_header > h3 > a:hover {
    text-decoration: none;
}


/* * * * * * * * * * * * * * * * * * * * * * * *
 * Bootstrap 3 overrides
 *
 * - Darken progressbar with transparency and
 *   reversed stripes animation (left to right)
 * - Custom default button
 */

.progress {
    margin-top: 1em;
    height: 20px !important;
    z-index: 0 !important;
    background: rgba(0, 0, 0, .35) !important;
}

.progress-bar {
    height: 20px !important;
    background-color: #789;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 40px 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 40px 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 40px 0
    }
}


/* 45deg changed to 125deg */

.progress-bar-striped,
.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(125deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(125deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(125deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px
}


/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    background-color: #fff;
    border: 1px solid #fff;
    text-shadow: none;
}

.intro {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-pack: center;
    box-align: center;
}

.intro p {
    color: white;
    font-weight: 500;
    font-size: 22px;
}

.intro .sum {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    font-size: 48px;
    font-weight: 500;
    text-transform: full-width;
    letter-spacing: .17em;
}

.intro .sum .darken {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin-top: 8px;
    margin-left: 4px;
}

.button-group {
    padding: 10px;
}

.button-group button {
    padding: 15px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
}

.main-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    height: auto;
}

.main-footer p {
    font-weight: 500;
}

.main-footer p .circle {
    background-color: #dd2c00;
    border-radius: 100%;
    padding: 5px 10px;
    font-size: 14px;
}


/* * * * * * * * * * *
 * Switch toogle block
 */

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.carousel-fade .carousel-inner .item {
    transition-property: opacity;
    -webkit-transition: 1s;
    transition: 1s;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2px;
    background-color: rgba(17, 17, 17, 0.5);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgba(255, 255, 255, 0.25);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}


/* --- TABLE ---*/

table {
    width: 100%;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, .0) !important;
    color: #fff !important;
    border-collapse: separate;
    border-spacing: 0 4px;
    margin-top: -2px;
    /* correct offset on first border spacing if desired */
}

th {
    text-align: left;
    background: rgba(0, 0, 0, .2);
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, .0) !important;
}

th:first-child,
td:first-child {
    text-align: center;
}

tr {
    background-color: rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, .25) !important;
    transition: all 0.35s ease-in-out !important;
}

tr:hover {
    background-color: rgba(0, 0, 0, .35) !important;
    transition: all 0.35s ease-in-out !important;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .25);
}

td {
    border: solid 1px #000;
    border-style: solid none;
    padding: 10px;
    vertical-align: middle;
    border: none !important;
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.fade {
    opacity: 0;
    transition: 5s;
}

.unfade {
    opacity: 1;
    transition: 5s;
}

@media screen and (max-width: 767px) {
    body {
        box-shadow: none;
    }
    h1 {
        font-size: 10em;
    }
    .pill {
        width: 30%;
        margin: 4px;
        float: left;
    }
}

@media screen and (max-width: 256px) {
    .cover,
    .col-md-12,
    .main_header,
    .main_footer,
    .container-fluid,
    .main_header > nav > ul > li > a {
        padding: 0;
    }
    .container-fluid {
        margin: 0;
    }
    .row {
        margin: 0;
        width: 100%;
    }
    .cover h3 {
        margin: 0;
    }
    #time {
        font-size: 200%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #date {
        margin: 0;
        text-align: center;
    }
    h3 {
        font-size: 128%;
    }
    .progress {
        border-radius: 0;
    }
    .item {
        width: 100%;
        float: none !important;
    }
    .main_footer {
        width: 100%;
        position: fixed;
        bottom: 10px;
    }
}

.settings .list-group-item,
.settings .list-group-item:focus,
.settings .list-group-item:active,
.settings .list-group-item:visited {
    background: rgba(0, 0, 0, 0.2) !important;
    box-shadow: none !important;
    border: none !important;
    color: white !important;
    border-radius: 10px !important;
    cursor: default;
    margin-bottom: 8px;
    line-height: 24px;
    padding: 6px;
    padding-bottom: 6px;
    transition: all 0.5s ease-in-out !important;
}

.settings .list-group-item:hover {
    color: white !important;
    background: rgba(0, 0, 0, 0.4) !important;
    transition: all 0.5s ease-in-out !important;
}

.text-left {
    text-align: left;
}

.centered-text {
    text-align: center;
    cursor: pointer;
}

@media (min-width: 320px) {
    h1 {
        font-size: 7em;
    }
    /* Pull out the header and footer */
    .main_header {
        position: fixed;
        top: 0;
    }
    .main_footer {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .main_header,
    .main_footer,
    .cover-container {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border: none;
    background: #1E1E1E;
    background-size: 15px
}

::-webkit-scrollbar-thumb:hover {
    background: #171717;
}

::-webkit-scrollbar-track {
    background: #373737;
    border: none;
}

::selection {
    background: rgba(17, 17, 17, 0.5)
}

::-moz-selection {
    background: rgba(17, 17, 17, 0.5)
}


/* *
 * Some shitcode
 */

#screen_3 > hr:nth-child(3) {
    margin-bottom: 10px !important;
}