* {
  font-family: monospace;
  font-size: 16px;
}
html {
  background-color: #EBEAEC;
  color: #1E1E1E;
  width: 100%;
}
body {
  background: #F5F4F6;
  margin: 0 auto;
  padding: 8px;
  min-width: 210px;
  max-width: 340px;
  text-align: center;
  border: 1px solid #ccc;
  color: #1E1E1E;
}
a {
  color: #369;
  text-decoration: none;
}
a:hover {
  color: #969;
  text-decoration: underline;
}
u {
  text-decoration: none;
  color: transparent;
}
span {
  color: #969;
}
i {
  color: #888;
}
i b {
  color: #369;
}
.title {
  font-family: 'Lobster';
  font-size: 20px;
  color: #666;
}
.menu {
  text-align: left;
  color: #eee;
}
dl.menu dt, dl.message {
  font-weight: normal;
  background: #369;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1em;
  padding: .5em;
}
dl.menu {
  margin: .25em 0 0 0;
}
dl.menu dd {
  margin: 0;
  margin-left: .5em;
  padding: .25em;
}
#title {
  margin-top: .75em;
}
#time {
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #fff;
}
.bubble {
  text-align: center;
  background-color: #eee !important;
  border: none;
  margin-bottom: 1em;
  color: #666;
}
.icon {
  width:24px;
  height:24px;
  line-height: 24px;
  border-radius:50%;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}
.icon:hover{
 -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.icon-left {
  float: left;
  margin-top: .25em;
  margin-left: .5em;
}
.icon-right {
  float: right;
  margin-top: .25em;
  margin-right: .5em;
}
::selection {
  background: #369;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #369;
  color: #fff;
  text-shadow: none;
}