* {
  font-family: monospace;
  font-size: 16px;
}
html {
  background-color: #343434;
  color: #ccc;
  width: 100%;
}
body {
  background: #343434;
  margin: 0 auto;
  padding: 8px;
  min-width: 210px;
  max-width: 340px;
  text-align: center;
}
a {
  color: #bbb;
  text-decoration: none;
}
a:hover {
  color: #ED773D;
  text-decoration: none;
}
u {
  text-decoration: none;
  color: transparent;
}
span {
  color: #ea8;
}
i {
  color: #888;
}
i b {
  color: #ED773D;
}
.title {
  font-family: 'Lobster';
  font-size: 18px;
  color: #ddd;
}
.menu {
  text-align: left;
  color: #1e1e1e !imprtant;
}
dl.menu dt, dl.message {
  font-weight: normal;
  background: #ED773D;
  border: solid 1px #111;
  border-radius: 5px;
  margin-top: 1em;
  padding: .5em;
}
dl.menu {
  margin: .25em 0 0 0;
}
dl.menu dd {
  margin: 0;
  margin-left: .5em;
  padding: .25em;
  border-left: solid 1px #111;
}
#title {
  margin-top: .75em;
}
#time {
  font-weight: normal;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #000;
}
.bubble {
  text-align: center;
  background-color: #2d2d2d !important;
  margin-bottom: 1em;
  color: #aaa;
}
.icon {
  width:24px;
  height:24px;
  line-height: 24px;
  border-radius:50%;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}
.icon:hover{
 -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.icon-left {
  float: left;
  margin-top: .25em;
  margin-left: .5em;
}
.icon-right {
  float: right;
  margin-top: .25em;
  margin-right: .5em;
}
::selection {
  background: #ED773D;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #ED773D;
  color: #fff;
  text-shadow: none;
}